body {
    background-color:#405e73;
}

/* Styles for top header */

.top-nav {
    overflow: hidden;
    background-color: deepskyblue;
    width: 100%;
    opacity: 0.50;
    height: 65px;
    border-top-left-radius: 20px;
    top: 0;
    position: fixed;
}

.top-nav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
}

.top-nav h2 {
    color: #f2f2f2;
    text-align: center;
    display:block;

}

/* Styles for inbox list */

.inbox-list-box {
    background-color: white;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    text-align: left;
}

.inbox-list-box ol, li, p, h5 {
    margin: 0;
}


.inbox-list-box li {
    list-style-type: none;
    font-size: 1.5rem;
    padding: 15px;
    margin-bottom: 5px;
}


.inbox-list-box p {
    font-size: .9rem;
    line-height: 1.4rem;
    margin-top: 15px;
}

.item-boxes {
    display:table;
    width: 100%;
    height: 100%;
    border-spacing: 12px;
}

.inbox-list-box .footer p {
    text-align: justify;
    color: gray;
    vertical-align: middle;
}

.item-boxes .left-col{
    display: table-cell;
    width: 8%;
}

.item-boxes .left-col img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.item-boxes .right-col{
    display: table-cell;
    vertical-align:middle;
}

/* Styles for left frame change*/
.frame-right{
    transition: 0.25s;
    transform: scale(0.98,0.98);
    margin-left:200px
    
}

.frame-orgin{
    transition: 0.25s;
    transform:scale(1,1)
  
}

.nav-right{
    background-color: #405e73;
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
  
    position: fixed;
    transition: 0.25s;

}

.nav-origin{
    background-color: #405e73;
    width: 200px;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    transition: 0.25s;
}


/* all left-nav styles */
.bounce{
    position: static;
}

@keyframes user-animation{
    0%{
        margin-top: 25px;
        opacity: 0;
    }
    100%{
        margin-top: 50px;
        opacity: 1;
    }
}

.user-icon {
    margin-left: 50px;
    animation-delay: 0.25;
    animation:user-animation 0.5s linear;
    animation-fill-mode: forwards;
    cursor: pointer;
  
}
.user-origin{
    margin-left: 50px;
    margin-top: 50px;
    cursor: pointer;
}
.user-icon img {
    border-radius: 50%;
    width: 100px;
    height: 100px;

}

.user-origin img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
}


@keyframes contact-animation{
    0%{
        margin-top: 75px;
        opacity: 0;
    }
    100%{
        margin-top: 100px;
        opacity: 1;
    }
}

.contact-icon {
    margin-left: 50px;
    animation-delay: 0.35;
    animation:contact-animation 0.5s linear;
    animation-fill-mode: forwards;
    cursor: pointer;
    border: 2px white solid;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    cursor: pointer;
}

.contact-origin {
    margin-left: 50px;
    margin-top: 100px;
    border: 2px white solid;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    cursor: pointer;
}


@keyframes start-animation{
    0%{
        margin-top: 25px;
        opacity: 0;
    }
    100%{
        margin-top: 50px;
        opacity: 1;
    }
}

.start-icon {
    margin-left: 50px;
    animation-delay: 0.45;
    animation:start-animation 0.5s linear;
    animation-fill-mode: forwards;
    cursor: pointer;
    border: 2px white solid;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    cursor: pointer;
}

.start-origin {
    margin-left: 50px;
    margin-top: 50px;
    border: 2px white solid;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    cursor: pointer;
}


@keyframes message-animation{
    0%{
        margin-top: 0px;
        opacity: 0;
    }
    100%{
        margin-top: 50px;
        opacity: 1;
    }
}


.message-icon {
    margin-left: 50px;
    animation-delay: 0.55;
    animation:start-animation 0.5s linear;
    animation-fill-mode: forwards;
    cursor: pointer;
    border: 2px white solid;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    cursor: pointer; 
}


.message-origin {
    margin-left: 50px;
    margin-top: 50px;
    border: 2px white solid;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    cursor: pointer;
}


@keyframes setting-animation{
    0%{
        margin-top: 0px;
        opacity: 0;
    }
    100%{
        margin-top: 100px;
        opacity: 1;
    }
}


.setting-icon {
    margin-left: 50px;
    animation-delay: 0.55;
    animation:setting-animation 0.5s linear;
    animation-fill-mode: forwards;
    cursor: pointer;
    border: 2px white solid;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    cursor: pointer; 
}

.setting-origin {
    margin-left: 50px;
    margin-top: 100px;
    border: 2px white solid;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    cursor: pointer;
   
}
 






